In [1]:
a=("Hello world")
print(a)

Hello world

In [3]:
##  To reverse the items in list

list1 = [10,20,30,40,50,60]
print("The numbers in the list before reverse : ", list1)
#print(list1[0:6])
list1.reverse()
print("The numbers in the list after reversing",list1)

The numbers in the list before reverse :  [10, 20, 30, 40, 50, 60]
The numbers in the list after reversing [60, 50, 40, 30, 20, 10]

In [7]:
# to print those numbers which are divisible by 5

number_list = [10,20,43,50,60,75,87,95,125,234]
print("The number list contains : ", number_list)
#x=5
#print("Display the numbers that are divisible are ", number_list/x)
#print('The numbers are :')

result = list(filter(lambda x: (x % 5 == 0), number_list))
print("Numbers divisible by 5 are ",result)

The number list contains :  [10, 20, 43, 50, 60, 75, 87, 95, 125, 234]
Numbers divisible by 5 are  [10, 20, 50, 60, 75, 95, 125]

In [8]:
# to copy elements 44 and 55 from the following tuple into a new tuple list

tuple1= (11,22,33,44,55,66)
print(tuple1)
copied_tuple= tuple1
print(copied_tuple)

(11, 22, 33, 44, 55, 66)
(11, 22, 33, 44, 55, 66)

In [10]:
# to check prime or not

n = int(input("Enter a number: "))
count = 0
for i in range(2,n):
     if n % i == 0:
         count = count + 1
         break
if count == 0:
     print("The given number is a prime number")
else:
         print("The given number is not a prime number")

Enter a number: 88
The given number is not a prime number

In [12]:
# To find the frequency of count

list1 = [12,12,43,22,12,65,7,5,22]
x=12
count=0

for ele in list1:
    if (ele== x):
        count =count +1
print("{} has occured {} times ".format(x, count)) 
    
# Method 2 using count()

list1 = [12,12,43,22,12,65,7,5,22]
x =22
print("{} has occured {} times ".format(x,list1.count(x)))

12 has occured 3 times
22 has occured 2 times

## To reverse the elements in a list using for loop

In [17]:
list=[1,2,3,4,5,6]
def rev(l):
    new=[]
    for i in range(len(l)-1,-1,-1):
        new.append(l[i])
    return new
print(rev(list))

[6, 5, 4, 3, 2, 1]

## To find the largest number among 3 numbers.

In [18]:
#n1=50
#n2=46
#n3=59
n1 = int(input("Enter the first number : "))
n2 = int(input("Enter the second number : "))
n3= int(input("Enter the third number : "))

if n1>n2 and n1>n3:
      print(n1, " is the largest number.")
elif n2>n1 and n2>n3:
      print(n2," is the largest number.")
elif n3>n1 and n3>n2:
      print(n3, " is the largest number.")
else:
    print("All the numbers are equal.")

Enter the first number : 56
Enter the second number : 45
Enter the third number : 78
78  is the largest number.

## to find power of a number using exponential operator

In [21]:
n= int(input("Enter the number : "))
 
print(n**2)

Enter the number : 5
25

In [22]:
n= int(input("Enter the number : "))
power= int(input("Enter the power : "))
result= n**power
print("The power of the given number is : ", result)

Enter the number : 2
Enter the power : 3
The power of the given number is :  8

##  that takes a positive integer and returns the sum of the cube of all the positive integers smaller than the specified number.

In [28]:
n= int(input("Enter a number: "))
def sum_cubes(a):
    a= a-1
    sum = 0
    while a>0:
        sum = sum + a**3
        a = a- 1
    return sum

print("The sum of the cubes: ",sum_cubes(n))

Enter a number: 4
The sum of the cubes:  36

##  to find the most frequent item in a list of numbers.

In [32]:
mylist=[10,2,5,12,36,4,2,10,41,2,8,2,12,2]
x=2
count=0

for ele in mylist:
    if (ele==x):
        count = count + 1
print("{} has occured {} times in this list ".format(x,count))

2 has occured 5 times in this list

In [34]:
# Method 2
mylist= [10,2,5,12,36,4,2,10,41,2,8,2,12,2]
x=2
print("{} has occured {} times in the list. ".format(x,mylist.count(x)))

2 has occured 5 times in the list.

In [41]:
# Method 3

from collections import Counter
mylist= [10,2,5,12,36,4,2,10,41,2,8,2,12,2]
x=2
dic=Counter(mylist)
print("{} has occured {} times in the list".format(x,dic[x]))

2 has occured 5 times in the list

## To find the factorial of a number

In [44]:
factorial = 1
num = 3

if num<0:
    print("No factorial for negative numbers.")
elif num==0:
    print("The factorial of 0 is 1.")
else:
    for i in range(1,num+1):
        factorial = factorial * i
    print("The factorial of the given number is : ", factorial)

The factorial of the given number is :  6

In [45]:
# method 2 using recursive function
def factorial(n):
    if (n==0 or n==1):
        return 1
    else:
        return n*factorial(n-1)    #5 * 4 * 3 * 2 * 1
num = 5
print("The factorial of the ",num, "is",factorial(num))

The factorial of the  5 is 120

In [46]:
# Method 3 using ternary approach

def factorial(n):
    return 1 if (n==1 or n==0) else n*factorial(n-1)   #written with a single line

num=5
print("The factorial of the ",num, "is",factorial(num))

The factorial of the  5 is 120